<template>
	<div class="card" v-click-outside="deactive">
		<div
			class="activate-button"
			:class="active && 'active'"
			@click="toggleActive"
		>
			<font-awesome-icon icon="plus" />
		</div>
		<div class="body" :class="active && 'full'">
			<transition name="fade" mode="out-in">
				<div class="section" key="open" v-if="active">
					<div class="button" @click="createBoost">CREATE BOOST</div>
					<section-head>Date Period</section-head>
					<date-range></date-range>
				</div>
				<div class="section main" key="close" v-else>
					<div class="button-outline">BOOST</div>
					<div class="row">
						<div class="liking">LIKING</div>
						<div class="bold">{{ data.liking }}</div>
					</div>
				</div>
			</transition>
		</div>
	</div>
</template>

<script>
import DateRange from "./ui/DateRange.vue";
import SectionHead from "./ui/SectionHead.vue";

export default {
	data: () => {
		return {
			active: false,
		};
	},
	props: {
		data: {
			required: true,
			type: Object,
			default: null,
		},
	},
	components: { DateRange, SectionHead },
	methods: {
		toggleActive() {
			this.active = !this.active;
		},
		deactive() {
			if (this.active) this.active = false;
		},
		createBoost() {
			this.$emit("createBoost");
		},
	},
};
</script>

<style scoped>
.card {
	padding-top: 15px;
	width: 240px;
	height: 120px;
	position: relative;
	margin: 10px 5px 30px 5px;
}
.body {
	width: 100%;
	height: 100%;
	border-radius: 5px;
	border: 2px solid #eaeaea;
	background-color: rgb(255, 255, 255);
	position: absolute;
	z-index: 100;
	transition: all 0.2s;
}
.body.full {
	height: 300px;
	z-index: 101;
}
.section {
	display: flex;
	flex-direction: column;
}
.main {
	padding: 15px;
}
.activate-button {
	position: absolute;
	top: 0px;
	left: 50%;
	transform: translateX(-50%) translateY(15%);
	border: 2px solid #eaeaea;
	background-color: #fff;
	width: 90%;
	border-radius: 5px;
	transition: all 0.2s;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 8px 5px;
	color: #4f5bd5;
	cursor: pointer;
	z-index: 1;
}
.activate-button.active {
	transform: translateX(-50%) translateY(-40%);
	background: #4f5bd5;
	color: #ffffff;
}
.card:hover .activate-button {
	transform: translateX(-50%) translateY(-40%);
}

.button {
	text-align: center;
	padding: 10px;
	color: #434343;
	font-size: 0.7rem;
	cursor: pointer;
}
.button-outline {
	border: 2px solid #e4e6ea;
	color: #00000029;
	margin-right: auto;
	padding: 3px 10px;
	border-radius: 30px;
	font-size: 0.6rem;
}

.row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-top: 30px;
	color: #3c3c3c;
}
.linking {
	font-size: 0.9rem;
}
.bold {
	font-size: 1.3rem;
	font-weight: bold;
}
.fade-enter-active,
.fade-leave-active {
	transition: opacity 0.3s;
}
.fade-enter,
.fade-leave-to {
	opacity: 0;
}
</style>