<template>
	<div class="container">
		<div class="card-button" @click="appendCard">Add Card</div>
		<div class="card-wrapper">
			<card
				v-for="card in cardList"
				:key="card.id"
				:data="card"
				@createBoost="appendCard"
			></card>
		</div>
	</div>
</template>

<script>
import Card from "./components/Card.vue";
export default {
	data: () => {
		return {
			cardList: [
				{ id: 1, liking: 100 },
				{ id: 2, liking: 100 },
			],
		};
	},
	components: { Card },
	methods: {
		appendCard() {
			this.cardList.push({ id: this.cardList.length + 1, liking: 100 });
		},
	},
};
</script>

<style lang="css" scoped>
.container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 3%;
}

.card-button {
	border: 4px solid #e4e6ea;
	color: #434343;
	padding: 5px 20px;
	border-radius: 15px;
	font-size: 0.95rem;
	cursor: pointer;
}

.card-wrapper {
	width: 90%;
	margin: 100px auto;
	display: flex;
	flex-wrap: wrap;
}
</style>
