* {
	box-sizing: border-box;
}

html {
	background: #f8f8f8;
	font-family: Arial, Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 0.9rem;
}
