<template>
	<div class="date-picker-label">Pick Date Range :</div>
	<div class="picker">
		<div class="date">2020/09/10</div>
		<div class="mb">To</div>
		<div class="date">2020/09/10</div>
	</div>
</template>

<script>
export default {};
</script>
<style scoped>
.date-picker-label {
	text-align: center;
	margin: 15px 0px;
	color: #3c3c3c;
	font-size: 0.8rem;
}

.picker {
	font-size: 0.8rem;
	color: #3c3c3c;
	display: flex;
	align-items: center;
	justify-content: center;
}
.picker .date {
	text-decoration: underline;
	padding: 0px 8px;
}

.mb {
	margin-bottom: 10px;
}
</style>