<template>
	<div class="date-row">
		<div class="dash"></div>
		<div class="title"><slot></slot></div>
		<div class="dash"></div>
	</div>
</template>

<script>
export default {};
</script>

<style scoped>
.date-row {
	margin-top: 10px;
	display: flex;
	align-items: center;
	font-size: 0.7rem;
	color: #a6acba;
}
.date-row .dash {
	flex: 1;
	border-top: 1px dashed #a6acba;
}
.date-row .title {
	padding: 0px 5px;
}
</style>